<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DashoBoard</h1>
    <div>
        <h3>Plese Login first With Google!</h3>
        <button>
            <a href="/auth/google">Login with google</a>
        </button>
    </div>
</body>
</html>